@charset "UTF-8";

html{
    overflow-x:hidden;
}

body{
    font-family: 'Noto Serif JP', serif;
}


iframe {
    width: 80%;
    height: auto;
    opacity: 1;
}


h1{
    letter-spacing: 1px;
    font-size: 200%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 1000;
    margin-left: 50px;
    margin-right: 50px;
}

h2{
    letter-spacing: 1px;
    font-size: 120%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
    margin-left: 100px;
    margin-right: 100px;
}

p{
    letter-spacing: 0px;
    line-height: 180%;
    padding-top:0px;
    padding-bottom: 0px;
    margin-left: 150px;
    margin-right: 50px;
    font-family: 'Noto Serif JP', serif;
    font-color: 000;
}

a{
color: black;
}


dt,dd,address{
    letter-spacing: 3px;
}


//ナビゲーションメニューの部分//

.navFont{
    margin-left: 50px;
    margin-right: 50px;
}

#nav li a:hover,#f_nav li a:hover{

}

#nav li a,#f_nav li a{
    letter-spacing: 0px;
    font-family: 'Shippori Mincho B1', serif;
    font-weight: 100;
}

#nav li,#f_nav li{
    display: inline;
}

dl{
    padding-top:15px;
    padding-bottom: 30px;
}

dt,dd{
    padding-top: 15px;
    padding-bottom: 15px;
}

br{
    padding-top:10px;
    padding-bottom: 10px;
}

#wrapper{
    display: block;
    width:100%;
    height: auto;
    margin:0 auto;
}



#menu{
    width:100%;
    top:0;
    left:0;
    position:fixed;
    padding: 10px 0px;
    letter-spacing: 10px;
    background:#FFF;
    margin-left: 0px;
}
//239//


.title{
    font-size: 100%;
    padding: 30px 0px;
    letter-spacing: 5px;
    color:#888;
}

.wtitle{
    text-align: left;
    font-size: 160%;
    padding: 10px 0px;
    letter-spacing: 5px;
    color:#000;
}
//wはworkのw//
.caption{
    text-align: left;
    font-size: 100%;
    padding: 10px 0px;
    letter-spacing: 5px;
    color:#000;
}

.subt{
    font-weight: 900;
    letter-spacing: 0px;
    font-size: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.smallt{
    letter-spacing: 0px;
    font-size: 120%;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #999;
}

.descript{
    text-align: left;
}
//作品説明文//

.copy{
    font-size: 50%;
}

.pageTitle{
    font-family: 'Open Sans', sans-serif;  
    margin-left: 100px;
}

#news, #works, #buy, #texts, #profile, #contact, #links{
 padding-top: 100px;
  margin-top:-100px;
    background-image: url(test.png); /* 画像 */
    background-repeat: no-repeat;
    background-position:0px 0px;
}

dd{
    font-size: 150%;
}



#f_nav{
    font-size: 137%;
    padding-bottom: 25px;
    padding-top: 50px;
}
